<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" packages="kinoko.util">
    <Appenders>
<!--        <Console name="ConsoleLogger" target="SYSTEM_OUT">-->
<!--            <LoggerLayout/>-->
<!--        </Console>-->
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="kinoko" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Logger name="io.netty, com.datastax" level="error">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Logger name="com.zaxxer.hikari" level="warn" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>
